.room {
     border: 1px solid black; 
     padding: 5px; 
     width: 100px;
     margin-left: 5px;
     cursor: pointer;
}
.flex{
    display: flex;
}
.red {
    background-color: red;
    margin-bottom: 10px;
}
.green {
    background-color: green;
    margin-bottom: 10px;
}
button {
    background-color: rgb(102, 122, 251);
    border-radius:50%;
    width:70px;
    height:70px;
    cursor: pointer;
}

.addRoomButton {
    background-color: white;
    border: none;
    color: rgb(89, 89, 249);
    font-weight: bolder;
    font-size: large;
}
.roomPage h2{
    text-align: left;
}
.roomPage button{
    border-radius: 0px;
    width: 100px;
    
}
.roomPage .flex {
    display: flex;
}
.left {
    flex:1;
    text-align: left;

}
.devices {
    flex:1;
    width: 50%;

   
}
.devices div {
     border: 1px solid black;
     height:30px;
     text-align: center;
     align-content: center;
}
h1 {
    text-align: center;
}
.add {
    text-align: center;
}